.row{
  width: 100%;
}
.whiteText{
  color: white;
}
.center{
  text-align: center;
}
.btnNext{
  width:50%;
  height:50px;
  background-color: white;
  border-radius: 10px;
  font-size: 45px;
  float: right;
  margin-right: 20px;
}
.divNext{
  position:fixed;
  bottom: 20px;
  left: 0;
  z-index: 101;
  animation: move2 5s infinite;
}
@keyframes move2 {
  0% { opacity:1 ; }
  50% { opacity:0.2 ; }
  100% { opacity:1 ; }
}
.tm50{
  margin-top: 50px;
}
