/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@media (min-width: 471px) and (max-width: 90000px) {
  .notsupported{
    display: none;
    z-index: 100;
  }
  .orientation-msg{
    display: block;
    position: fixed;
    top:33%;
    left: 25%;
  }
  .clouds{
    display: none;
  }
  .bodyy{
    background-color: rgb(51, 0, 99);
  }
}

@media (min-width:1px) and (max-width: 470px) {
  .notsupported{
    display: block;
  }
  .orientation-msg{
    display: none;
  }
  .bodyy{
    background-color: black;
  }
  .clouds{
    z-index: -1;
    position:fixed;
    width:500%;
    bottom: -140%;
    left: 0;
    animation: move 60s infinite;
  }
  @keyframes move {
    0% { left: 0;bottom: -140%; }
    50% { left: -200%;bottom: -120%; }
    100% { left: 0;bottom: -140%; }
  }
}
